body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.links {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 75px;
}

#main-header {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 175px;
}

.p1 {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 75px;
    gap: 50px;
}

#p1-header {
    color: #F9FAF8;
    font-size: 24px;
}

.p1-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    margin: 5px;
}

.p1-subtext {
    font-size: 18px;
    color: #E5E7EB;
}